./bin
renderer
.vscode/ipch
*.o
*.spv
*.out
android/.gradle/4.10.1/fileChanges/last-build.bin
android/.gradle/
android/build
android/.idea
android/app/.externalNativeBuild/
src/glm
models/asuncion.obj
textures/building01.jpg
models/character2_skeletal.glb
textures/character2.png
models/character2.gltf
models/policia.gltf
src/vulkan_gltf_example.hpp
src/.vscode/
